/* Reset all CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}
/* Reset additional styles */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
}

form#baterPonto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button#registrar{
  padding: 30px;
  background-color: #213071;
  color: white;
  font-weight: bold;
  font-size: 33px;
  border-radius: 1000px;
  cursor: pointer;
  display: flex;
  margin-bottom: 50px;
}

button#registrar:hover{
  background-color: #181e36;

}

h3{
  margin-bottom: 20px;
  font-size: 30px;
}

div#horariosRegistrados{
  padding: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

div#horariosRegistrados > div {
  margin: 16px;
  background-color: rgb(52, 105, 212);
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.back-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.info p {
  margin: 2px 0;
}

.saldo {
  color: green;
  font-weight: bold;
}

.divider {
  margin: 10px 0;
  border: none;
  border-top: 2px dashed #ccc;
}

.content {
  display: flex;
  position: relative;
  padding: 10px 0;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linha-central {
  width: 2px;
  background-color: #ccc;
  margin: 0 10px;
}

.registro {
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
