@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset all CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

/* Reset additional styles */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Side Bar*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: Left;
  padding-top: 20px;
  padding-left: 20px;
  gap: 20px;
}

.sidebar-header img {
  height: 40px;
  margin-bottom: 10px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-nav img {
  height: 30px;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav img:hover {
  transform: scale(1.1);
}

.sidebar #sair {
  margin-top: auto;
  padding-bottom: 20px;
}

/* Custom styles */

* {
  font-family: "Roboto";
  font-size: 16px;
}

form#baterPonto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button#registrar {
  padding: 30px;
  background-color: #213071;
  color: white;
  font-weight: bold;
  font-size: 33px;
  border-radius: 1000px;
  cursor: pointer;
  display: flex;
  margin-bottom: 50px;
}

button#registrar:hover {
  background-color: #181e36;
}

h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

div#horariosRegistrados {
  padding: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

div#horariosRegistrados > div {
  margin: 16px;
  background-color: rgb(52, 105, 212);
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
}

.container {
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #f5e9d5, #eeda8ace);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.back-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.info p {
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
  margin: 2px 0;
}

.saldo {
  color: green;
  font-weight: bold;
}

.divider {
  margin: 10px 0;
  border: none;
  border-top: 2px dashed #464545;
}

.content {
  display: flex;
  position: relative;
  padding: 10px;
  height: 90%;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linha-central {
  width: 1px;
  display: flex;
  background-color: #464545;
  height: 100%;
  margin: 0 10px;
}

.registro {
  background-color: #f4ebdc;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #000000;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
}

input[type="submit"] {
  width: 100%;
  background-color: #1d1d1d;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px 0px;
  margin-bottom: 20px;
  border: none;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #181e36;
  border: #181e36 1px solid;
  transition: 0.3s;
}
